// app global css in SCSS form

@import './button.scss';
@import './form.scss';
@import './field.scss';
@import './table.scss';

// BODY
.body--dark {
	background-color: #010409;
}

// HEADER
.q-header {
	background-color: #24292f;
}


.w-320 {
	max-width: 320px;
}

.w-700 {
	max-width: 700px;
}

.groups-grid {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
}

.groups-grid > * {
	width: 100%;
}
