// app global css in SCSS form

// BODY
.body--dark {
	background-color: #010409;
}

// HEADER
.q-header {
	background-color: #24292f;
}

//FORM WRAPPER BORDER
.q-form-wrapper {
	background-color: #f6f8fa;
	border: 1px solid #d8dee4;
	border-radius: 10px;
}

.body--dark .q-form-wrapper {
	background-color: #0d1117;
	border: 1px solid #30363d;
	border-radius: 10px;
}

//FIELD
.q-field__control {
	transition: none;
}

.q-field--outlined .q-field__control {
	border-radius: 10px;
}

//FIELD BORDER
.q-field__control:before,
.q-field__control::after {
	border: 1px solid hsla(0, 0%, 0%, 0.24);
	transition: none;
}

.q-field--dark .q-field__control:before {
	border-color: hsl(212, 12%, 21%);
}

.q-field__control:hover:before {
	border-color: #000000 !important;
}

.q-field--dark .q-field__control:hover:before {
	border-color: #d8dee4 !important;
}

//FIELD BACGROUND
.q-field__control {
	background-color: #ffffff;
}

.q-field--dark .q-field__control {
	background-color: #000000;
}

//FIELD LABEL
.q-field--error .q-field__label {
	animation: none !important;
}

.q-field--dark .q-field__label {
	color: rgba(255, 255, 255, 0.7);
}

//FIELD FOCUS
.q-field--focused .q-field__control {
	box-shadow: 0 0 0 0.3em #bdd2f4;
}
.q-field--dark.q-field--focused .q-field__control {
	box-shadow: 0 0 0 0.3em #0d2d6b;
}

//FIELD FOCUS ERROR
.q-field--focused.q-field--error .q-field__control {
	box-shadow: 0 0 0 0.3em rgba(255, 0, 30, 0.3);
}
.q-field--dark.q-field--focused.q-field--error .q-field__control {
	box-shadow: 0 0 0 0.3em rgba(244, 67, 54, 0.3);
}

// BUTTON
.q-btn--rectangle {
	border-radius: 6px;
}

.q-btn.bg-primary {
	background: var(--q-secondary) !important;
	transition: all 0.2s linear;
}

.q-btn.bg-primary .q-focus-helper {
	opacity: 0 !important;
}

// BUTTON FOCUS
.q-btn.bg-primary:focus-visible {
	box-shadow: 0px 0px 0px 3px rgba(45, 164, 78, 0.4);
}
.body--dark .q-btn.bg-primary:focus-visible {
	box-shadow: 0 0 0 0.3em #1d4c2e;
}
// BUTTON HOVER
.q-btn.bg-primary:hover {
	background: #229743 !important;
}

.body--dark .q-btn.bg-primary:hover {
	background: #2ea043 !important;
}
