// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #1f6feb;
$secondary: #2da44e;
$accent: #9c27b0;

$dark: #1d1d1d;

$positive: #21ba45;
$negative: #ff001c;
$info: #31ccec;
$warning: #f2c037;

:root {
	--container-background: #f6f8fa;
	--container-border: #d8dee4;
	--field-background: #ffffff;
}

.body--dark {
	--container-background: #0d1117;
	--container-border: #30363d;
	--field-background: #000000;
	--q-primary: #58a6ff;
	--q-secondary: #238636;
	--q-negative: #f44336;
}
